/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header {
    background-color:  #BBBBBB;
    padding: 20px 0;
    margin-bottom: 50px;
}

.caixa {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left: 0.938rem;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 1.375rem;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

.titulo-principal {
    padding-left: 20px;
}

#banner {
    width: 100%;
}

.conteudo-principal {
    background-color: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: red;
}

p:nth-child(3) {
    font-size: 20px;
}

.beneficios {
    background-color: white;
    padding: 20px;
}

.itens {
    font-style: italic;
}


.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem-beneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url(../img/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: white;
    font-size: 13px;
    margin-top: 20px;
}