/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.titulo-principal {
    padding-left: 20px;
}

#banner {
    width: 100%;
}

.conteudo-principal {
    background-color: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

em strong {
    color: red;
}

p:nth-child(3) {
    font-size: 20px;
}

.beneficios {
    background-color: white;
    padding: 20px;
}

.itens {
    font-style: italic;
}


ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagem-beneficios {
    width: 50%;
}